* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
    background: #271b43;
    margin: 5px;
    border-radius: 999px;
}

#workspaces button {
    color: #8f7598;
    background: #271b43;
    font-size: 12px;
    padding: 11px 12px 12px 12px;
    border-radius: 50%;
    border: 1px white; 
}

#workspaces button.focused {
    color: #cba5b2;
}

#custom-spacer {
    border-radius: 999px 0 0 999px;
    background-color: #64727D;
}

#custom-menu {
    border-radius: 999px;
    background: #64727D;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #271b43;
    padding: 5px;
    border-radius: 999px;
    margin: 5px;
}

#battery {
    background-color: #ffffff;
    color: black;
    border-radius:999px 0 0 999px;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
